In [2]:
import pandas as pd 
import numpy as np

data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/output0ManchesterWebCrawl.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1518 entries, 0 to 1517
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Abbreviation                     1518 non-null   object
 1   Available_as_a_free_choice_unit  1518 non-null   object
 2   Course_Homepage                  1518 non-null   object
 3   Course_title                     1518 non-null   object
 4   Credit_rating                    1518 non-null   int64
 5   Department                       1518 non-null   object
 6   Description                      1459 non-null   object
 7   Prerequisite                     620 non-null    object
 8   Professor                        1494 non-null   object
 9   Scores                           1476 non-null   object
 10  Teaching_period                  1518 non-null   object
 11  Unit_level                       1518 non-null   object
 12  Unitcode                         1518 non-null   object
 13  University                       1518 non-null   object
 14  University_Homepage              1518 non-null   object
dtypes: int64(1), object(14)
memory usage: 178.0+ KB

In [21]:
data2 = data.drop_duplicates(subset='Unitcode', keep='first')

In [22]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1188 entries, 0 to 1517
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Abbreviation                     1188 non-null   object
 1   Available_as_a_free_choice_unit  1188 non-null   object
 2   Course_Homepage                  1188 non-null   object
 3   Course_title                     1188 non-null   object
 4   Credit_rating                    1188 non-null   int64
 5   Department                       1188 non-null   object
 6   Description                      1140 non-null   object
 7   Prerequisite                     519 non-null    object
 8   Professor                        1170 non-null   object
 9   Scores                           1160 non-null   object
 10  Teaching_period                  1188 non-null   object
 11  Unit_level                       1188 non-null   object
 12  Unitcode                         1188 non-null   object
 13  University                       1188 non-null   object
 14  University_Homepage              1188 non-null   object
dtypes: int64(1), object(14)
memory usage: 148.5+ KB

In [28]:
data2 = data2[["University", "Abbreviation", "Department","Course_title","Professor","Prerequisite","Scores","Description","University_Homepage","Course_Homepage","Unitcode","Teaching_period","Unit_level","Credit_rating","Available_as_a_free_choice_unit"]]

In [29]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1188 entries, 0 to 1517
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   University                       1188 non-null   object
 1   Abbreviation                     1188 non-null   object
 2   Department                       1188 non-null   object
 3   Course_title                     1188 non-null   object
 4   Professor                        1170 non-null   object
 5   Prerequisite                     519 non-null    object
 6   Scores                           1160 non-null   object
 7   Description                      1140 non-null   object
 8   University_Homepage              1188 non-null   object
 9   Course_Homepage                  1188 non-null   object
 10  Unitcode                         1188 non-null   object
 11  Teaching_period                  1188 non-null   object
 12  Unit_level                       1188 non-null   object
 13  Credit_rating                    1188 non-null   int64
 14  Available_as_a_free_choice_unit  1188 non-null   object
dtypes: int64(1), object(14)
memory usage: 148.5+ KB

In [33]:
data2.to_csv('/content/drive/MyDrive/Colab Notebooks/data2.csv')